<div class="content-heading">
  Locales
  <div class="ml-auto">
    <button class="btn btn-primary" type="button" (click)="showLocalModal()">
      <i style="padding-right:5px" class="icon-plus fa-lg fa-align-left"></i>
      <span>Agregar local</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="form-group">
      <input class="form-control" placeholder="Buscar local por nombre" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-6">
    <div class="card b">
      <div class="card-header">
          <img class="mr-2 rounded-circle" width="60" height="60" src="assets/img/pariente_logo.jpg" alt="Image" />
        <div class="float-right">
          <div class="badge badge-success">Activo</div>
        </div>
        <div class="inline">
          <h4 class="m-0" >Taquería el gallo</h4>
          <small class="text-muted">Av. Insurgentes sur y Av. Santa Teresa</small>
        </div>        
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <strong>Horario</strong>
            </td>
            <td>6:00 AM - 7:00PM</td>
          </tr>
          <tr>
            <td>
              <strong>Responsable</strong>
            </td>
            <td>Israel Ortiz Feria</td>
          </tr>          
        </tbody>
      </table>
      <div class="card-footer text-center bt0">
        <button class="btn btn-secondary pull-left" type="button">Eliminar</button>
        <button class="btn btn-secondary" type="button">Clonar</button>
        <button class="btn btn-secondary pull-right" type="button">Editar</button>
      </div>
    </div>
  </div>  
</div>

<!-- Classc modal -->
<div class="modal fade" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Classic modal</h4>
                <button type="button" class="close" aria-label="Close" (click)="classicModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
        </div>
    </div>
</div>
