<div class="content-heading">
  Ofertas
  <div class="ml-auto">
    <div class="btn-group mr-2" dropdown>
      <button class="btn dropdown-toggle btn-secondary" type="button" dropdownToggle>Acción
        <span class="caret"></span>
      </button>
      <div *dropdownMenu class="dropdown-menu" role="menu">        
        <a class="dropdown-item" href="#" [ngClass]="{'disabled':!offerSelectedId}" (click)="editarOffer()">Editar</a>        
        <a class="dropdown-item" href="#" [ngClass]="{'disabled':!offerSelectedId}" (click)="cancelOffer()">Cancelar</a>
        <a class="dropdown-item" href="#" [ngClass]="{'disabled':!offerSelectedId}" (click)="deleteOffer()">Eliminar</a>
        <a class="dropdown-item" href="#" [ngClass]="{'disabled':!offerSelectedId}" (click)="sheduleOferta(2)">Programar</a>
      </div>
    </div>
    <button class="btn btn-sm btn-success ml-1" type="button" (click)="sheduleOferta(3)"
      [disabled]="!offerSelectedId && (!bSelectedId || bSelectedId==='-1' || bSelectedId=='')">
      <span>Publicar</span>
    </button>
    <button class="btn btn-sm btn-primary ml-1" type="button" (click)="createOffer()"
      [disabled]="!bSelectedId || bSelectedId==='-1' || bSelectedId==''">
      <i style="padding-right:5px" class="icon-plus fa-lg fa-align-left"></i>
      <span>Crear oferta</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <label>Selecciona un negocio para ver sus ofertas</label>
      <select class="form-control" name="business" (change)="showOffer($event.target.value)">
        <option value="">Selecciona un negocio</option>
        <option *ngFor="let bu of business" [value]="bu.idNegocio">{{bu.nombre}}</option>
        <option value="-1">Todos los negocios</option>
      </select>
    </div>
    <div class="card card-default">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Titulo</th>
              <th>Descripción</th>
              <th>Inicio</th>
              <th>Fin</th>
              <th>Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offer of offers">
              <td>
                <div class="c-radio">
                  <label>
                    <input type="radio" name="radio" (click)="offerSelectedId=offer.idOferta" />
                    <span class="fa fa-circle"></span>
                  </label>
                </div>
              </td>
              <td>{{offer.titulo}}</td>
              <td>{{offer.descripcion}}</td>
              <td>{{offer.configuracion.inicio == null ? 'NA' : offer.configuracion.inicio}}</td>
              <td>{{offer.configuracion.fin == null ? 'NA' : offer.configuracion.fin}}</td>
              <td>
                <div class="badge badge-primary" *ngIf="offer.configuracion.idEstatus == 1">Creado</div>
                <div class="badge badge-primary" *ngIf="offer.configuracion.idEstatus == 2">Programado</div>
                <div class="badge badge-success" *ngIf="offer.configuracion.idEstatus == 3">Publicado</div>
                <div class="badge badge-warning" *ngIf="offer.configuracion.idEstatus == 4">Cancelado</div>
                <div class="badge badge-danger" *ngIf="offer.configuracion.idEstatus == 5">Eliminado</div>
                <div class="badge badge-primary" *ngIf="offer.configuracion.idEstatus == 6">Finalizado</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>