<div class="content-heading">
    <div>
        Usuarios en tiempo real
        <small>Bienvenido !</small>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <div class="form-group">
            <select class="form-control" name="business" (change)="getBusiness($event.target.value)">
                <option value="1">Selecciona un negocio</option>ag
                <option value="2">Carnitas</option>
                <!-- <option *ngFor="let bu of business" [value]="bu.idNegocio">{{bu.nombre}}</option> -->
            </select>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <button type="button" class="btn btn-success" (click)="verUsuarios()">Ver usuarios</button>
            <button type="button" class="btn btn-success" (click)="guardarUsuario()">Guardar</button>
        </div>
    </div>
    <div class="col">
        <div class="card card-default">
            <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom"
                [disableDefaultUI]="true" [zoomControl]="true" style="height: 90vh;">
                <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng"
                    [iconUrl]="businessIcon">
                    <agm-info-window>
                        <strong>Carnitas</strong>
                    </agm-info-window>
                </agm-marker>
                <agm-marker *ngFor="let point of points | async; trackBy: trackByFn"
                    [latitude]="point.point.geopoint.latitude" [longitude]="point.point.geopoint.longitude">
                    <agm-info-window>
                        <h5>{{point.name}}</h5>
                        {{ point.queryMetadata.distance }} kilometros de carnitas
                    </agm-info-window>
                </agm-marker>
                <agm-circle [latitude]="location.lat" [longitude]="location.lng" [radius]="radius * 1000"></agm-circle>
            </agm-map>
        </div>
    </div>
</div>