<div class="content-heading">
  Negocios
  <div class="ml-auto">
    <div class="btn-group mr-2" dropdown>
      <button class="btn dropdown-toggle btn-secondary" type="button" dropdownToggle>Acción
        <span class="caret"></span>
      </button>
      <div *dropdownMenu class="dropdown-menu" role="menu">
        <a class="dropdown-item" href="#" [ngClass]="{'disabled':!bSelectedId}" (click)="deleteBusiness()">Eliminar</a>
        <a class="dropdown-item" href="#" [ngClass]="{'disabled':!bSelectedId}" (click)="editCloneBusiness(0)">Editar</a>
        <a class="dropdown-item" href="#" [ngClass]="{'disabled':!bSelectedId}" (click)="editCloneBusiness(1)">Clonar</a>
        <a class="dropdown-item" href="#" [ngClass]="{'disabled':!bSelectedId}" (click)="offerBusiness()">Crear Oferta</a>
      </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="addNewBusiness()">
      <i style="padding-right:5px" class="icon-plus fa-lg fa-align-left"></i>
      <span>Agregar</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card card-default">
      <div class="card-header">
        <div class="form-group">
          <input class="form-control" placeholder="Busca tu negocio por nombre" />
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Responsable</th>
              <th>Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let business of business">
              <td>
                <div class="c-radio">
                  <label>
                      <input type="radio" name="radio" (click)="bSelectedId=business.idNegocio" />
                      <span class="fa fa-circle"></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="media">
                  <img class="img-fluid circle" [src]="business.urlProfile?business.urlProfile:'assets/img/business-default.png'" alt="Image" />
                </div>
              </td>
              <td>{{business.nombre}}</td>
              <td>{{business.calle +' ' + business.numeroExterior+', '+business.colonia+', '+business.delegacion}} </td>
              <td>{{business.responsable}}</td>
              <td>
                <div *ngIf="business.idEstatus == 1" class="badge badge-success">Activo</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>