<div class="content-heading">
  Negocios
  <div class="ml-auto">
    <div class="btn-group mr-2" dropdown>
      <button class="btn dropdown-toggle btn-secondary" type="button" dropdownToggle>Acción
        <span class="caret"></span>
      </button>
      <div *dropdownMenu class="dropdown-menu" role="menu">
        <a class="dropdown-item" href="#">Eliminar</a>
        <a class="dropdown-item" href="#">Editar</a>
        <a class="dropdown-item" href="#">Clonar</a>
      </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="addNewBusiness()">
      <i style="padding-right:5px" class="icon-plus fa-lg fa-align-left"></i>
      <span>Agregar</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card card-default">
      <div class="card-header">
        <div class="form-group">
          <input class="form-control" placeholder="Busca tu negocio por nombre" />
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Horario</th>
              <th>Responsable</th>
              <th>Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="checkbox c-checkbox">
                  <label>
                    <input type="checkbox" />
                    <span class="fa fa-check"></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="media">
                  <img class="img-fluid circle" src="assets/img/business-default.png" alt="Image" />
                </div>
              </td>
              <td>
                Taqueria el Gallo
              </td>
              <td>
                Av. Insurgentes sur y Av. Santa Teresa
              </td>
              <td>10AM-6PM</td>
              <td>
                Israel Ortiz Feria
              </td>
              <td>
                <div class="badge badge-success">Activo</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>