<div class="modal-header">
  <h4 class="modal-title pull-left">Captura los datos del negocio</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form role="form" novalidate #businessform="ngForm">
    <tabset>
      <tab heading="Datos" id="tab1">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Nombre</label>
              <input class="form-control form-control-sm" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Categoría</label>
              <select class="form-control form-control-sm">
                <option selected value="0">Selecciona una categoría</option>
                <option *ngFor="let category of categories" value="category.idCategoria">{{category.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Correo electrónico</label>
              <input class="form-control form-control-sm" type="email" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Teléfono</label>
              <input class="form-control form-control-sm" pattern="[0-9]{10}" maxlength="10" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Descripción</label>
              <textarea class="form-control" rows="5"></textarea>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Dirección">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Calle</label>
              <input class="form-control form-control-sm" name="street" ngModel />
            </div>
            <div class="form-group">
              <label>Número exterior</label>
              <input class="form-control form-control-sm" type="number" name="extnum" ngModel />
            </div>
            <div class="form-group">
              <label>Código postal</label>
              <input class="form-control form-control-sm" type="number" #zipcode (blur)="getLocation(zipcode.value, businessform.value)" />
            </div>
            <div class="form-group">
              <label>Colonia</label>
              <select class="form-control form-control-sm" name="colonia" ngModel >
                <option *ngFor="let colonia of currentLocation?.colonias" value="colonia">{{colonia}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Delegación</label>
              <input class="form-control form-control-sm" name="delegacion" ngModel [(ngModel)]="currentLocation.municipio" />
            </div>
          </div>
          <div class="col-8">
            <label>Selecciona en el mapa la ubicación exacta de tu negocio</label>
            <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom"
              [disableDefaultUI]="true" [zoomControl]="true" style="height: 336px;">
              <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable"></agm-marker>
            </agm-map>
          </div>
        </div>
      </tab>
      <tab heading="Servicios">
        <fieldset>
          <div class="form-group row">
            <div class="col">
              <label>Servicios</label>
              <ngx-select (data)="value" [multiple]="true" [items]="services" [disabled]="false" placeholder="Selecciona todos los servicios que manejas">
              </ngx-select>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <div class="col">
              <label>Métodos de pago</label>
              <ngx-select (data)="value" [multiple]="true" [items]="pMethods" [disabled]="false" placeholder="Selecciona todos los métodos de pagos que manejas">
              </ngx-select>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <div class="col">
              <label>Tipos de tarjetas</label>
              <ngx-select (data)="value" [multiple]="true" [items]="cardtypes" [disabled]="false" placeholder="Selecciona todos los tipos de tarjetas que manejas">
              </ngx-select>
            </div>
          </div>
        </fieldset>
      </tab>
    </tabset>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Guardar</button>
</div>