<div class="modal-header">
  <h4 class="modal-title pull-left">Captura los datos del negocio</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form role="form" novalidate #businessform="ngForm">
  <div class="modal-body">
    <tabset>
      <tab heading="Datos" id="tab1">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Nombre</label>
              <input class="form-control form-control-sm" name="name" [(ngModel)]="business.nombre" required [ngClass]="{ 'is-invalid': submitted && businessform.controls.name.errors }" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Categoría</label>
              <select class="form-control form-control-sm" name="category" [(ngModel)]="business.idCategoria" required
                [ngClass]="{ 'is-invalid': submitted && (businessform.controls.category.errors ||  business.idCategoria==0)}">
                <option selected value="0">Selecciona una categoría</option>
                <option *ngFor="let category of categories" [value]="category.idCategoria">{{category.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Responsable</label>
              <input class="form-control form-control-sm" name="incharge" [(ngModel)]="business.responsable" required [ngClass]="{ 'is-invalid': submitted && businessform.controls.incharge.errors }" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Horario</label>
              <input class="form-control form-control-sm" name="time" [(ngModel)]="business.horario"
                required [ngClass]="{ 'is-invalid': submitted && businessform.controls.time.errors }"  placeholder="HH:MM AM - HH:MM PM"/>              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Correo electrónico</label>
              <input class="form-control form-control-sm" type="email" name="email" [(ngModel)]="business.email"
                required [ngClass]="{ 'is-invalid': submitted && businessform.controls.email.errors }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Teléfono</label>
              <input class="form-control form-control-sm" [textMask]="{mask: mask}" name="phone" [(ngModel)]="business.telefono"
                required [ngClass]="{ 'is-invalid': submitted && businessform.controls.phone.errors }" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Descripción</label>
              <textarea class="form-control" rows="5" name="description" [(ngModel)]="business.descripcion" required></textarea>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Dirección">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>Calle</label>
              <input class="form-control form-control-sm" name="street" [(ngModel)]="business.calle" 
              (blur)="getLocation(zipcode.value, businessform.value)"
              required [ngClass]="{ 'is-invalid': submitted && businessform.controls.street.errors }" />
            </div>
            <div class="form-group">
              <label>Número exterior</label>
              <input class="form-control form-control-sm" type="number" name="extnum" [(ngModel)]="business.numeroExterior"
              (blur)="getLocation(zipcode.value, businessform.value)"  
              required [ngClass]="{ 'is-invalid': submitted && businessform.controls.extnum.errors }" />
            </div>
            <div class="form-group">
              <label>Código postal</label>
              <input class="form-control form-control-sm" type="number" name="zipcode" [(ngModel)]="business.codigoPostal"
                required #zipcode (blur)="getLocation(zipcode.value, businessform.value)" [ngClass]="{ 'is-invalid': submitted && businessform.controls.zipcode.errors }" />
            </div>
            <div class="form-group">
              <label>Colonia</label>
              <select class="form-control form-control-sm" name="colonia" [disabled]="currentLocation?.colonias?.length==1"
                [(ngModel)]="business.colonia" required [ngClass]="{ 'is-invalid': submitted && businessform.controls.colonia.errors }">
                <option *ngFor="let colonia of currentLocation?.colonias" [value]="colonia">{{colonia}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Delegación</label>
              <input class="form-control form-control-sm" name="delegacion" disabled [(ngModel)]="business.delegacion" />
            </div>
          </div>
          <div class="col-8">
            <label>Selecciona en el mapa la ubicación exacta de tu negocio</label>
            <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom"
              [disableDefaultUI]="true" [zoomControl]="true" style="height: 336px;">
              <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable"></agm-marker>
            </agm-map>
          </div>
        </div>
      </tab>
      <tab heading="Servicios">
        <fieldset>
          <div class="form-group row">
            <div class="col">
              <label>Servicios</label>
              <ngx-select [multiple]="true" [items]="services.svc" name="services" [(ngModel)]="services.currentServices"
                optionValueField="id" optionTextField="nombre" placeholder="Selecciona todos los servicios que manejas"
                required>
              </ngx-select>
              <div *ngIf="submitted && services.currentServices.length==0">
                <span class="text-danger">*Selecciona los servicios que manejas en tu negocio</span>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <div class="col">
              <label>Métodos de pago</label>
              <ngx-select [multiple]="true" [items]="pMethods.methods" name="pmethods" [(ngModel)]="pMethods.currentPmethods"
                required optionValueField="id" optionTextField="nombre" placeholder="Selecciona todos los métodos de pagos que manejas">
              </ngx-select>
              <div *ngIf="submitted && pMethods.currentPmethods.length==0">
                <span class="text-danger">*Selecciona los metodos de pago que manejas en tu negocio</span>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <div class="col">
              <label>Tipos de tarjetas</label>
              <ngx-select [multiple]="true" [items]="cards.types" name="cardstypes" [(ngModel)]="cards.currentCardTypes"
                optionValueField="id" optionTextField="nombre" placeholder="Selecciona todos los tipos de tarjetas que manejas">
              </ngx-select>
            </div>
          </div>
        </fieldset>
      </tab>
    </tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="saveBusiness(businessform)">{{business.idNegocio==null?'Guardar':'Actualizar'}}</button>    
  </div>
</form>